USE [master]
GO
/****** Object:  Database [BusReview]    Script Date: 2/1/2022 22:37:05 ******/
CREATE DATABASE [BusReview]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusReview', FILENAME = N'C:\Users\nicolas.ontaneda.f01\BusReview.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BusReview_log', FILENAME = N'C:\Users\nicolas.ontaneda.f01\BusReview_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusReview].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusReview]
GO
USE [BusReview]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 2/1/2022 22:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[Placa] [char](10) NOT NULL,
	[Nombres_Chofer] [varchar](40) NOT NULL,
	[Nombres_Asistente] [varchar](40) NOT NULL,
	[Correo_Chofer] [varchar](60) NOT NULL,
	[Correo_Asistente] [varchar](60) NOT NULL,
	[Cedula_Chofer] [varchar](60) NOT NULL,
	[Cedula_Asistente] [varchar](60) NOT NULL,
	[Marca] [varchar](20) NOT NULL,
	[Cooperativa] [varchar](40) NOT NULL,
	[Wifi] [bit] NOT NULL,
	[TV] [bit] NOT NULL,
	[Baño] [bit] NOT NULL,
	[Asientos_discapacitados] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parada]    Script Date: 2/1/2022 22:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parada](
	[ParadaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](40) NOT NULL,
	[Sector] [varchar](40) NOT NULL,
	[Costo] [money] NULL,
	[IdBus] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParadaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 2/1/2022 22:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[ReporteId] [int] IDENTITY(1,1) NOT NULL,
	[Mala_Conduccion] [bit] NOT NULL,
	[Acoso] [bit] NOT NULL,
	[Nota] [text] NOT NULL,
	[IdBus] [char](10) NOT NULL,
	[IdUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReporteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resena]    Script Date: 2/1/2022 22:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resena](
	[ResenaId] [int] IDENTITY(1,1) NOT NULL,
	[Calificacion] [int] NULL,
	[Nota] [text] NULL,
	[IdBus] [char](10) NOT NULL,
	[IdUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResenaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 2/1/2022 22:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[Apellido] [varchar](40) NOT NULL,
	[Correo] [varchar](60) NOT NULL,
	[Contrasenia] [varchar](60) NOT NULL,
	[Fecha_Nacimiento] [datetime] NULL,
	[Administrador] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Parada]  WITH CHECK ADD  CONSTRAINT [fk_BusParada] FOREIGN KEY([IdBus])
REFERENCES [dbo].[Bus] ([Placa])
GO
ALTER TABLE [dbo].[Parada] CHECK CONSTRAINT [fk_BusParada]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [fk_BusReporte] FOREIGN KEY([IdBus])
REFERENCES [dbo].[Bus] ([Placa])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [fk_BusReporte]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [fk_UsuarioReporte] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [fk_UsuarioReporte]
GO
ALTER TABLE [dbo].[Resena]  WITH CHECK ADD  CONSTRAINT [fk_BusResena] FOREIGN KEY([IdBus])
REFERENCES [dbo].[Bus] ([Placa])
GO
ALTER TABLE [dbo].[Resena] CHECK CONSTRAINT [fk_BusResena]
GO
ALTER TABLE [dbo].[Resena]  WITH CHECK ADD  CONSTRAINT [fk_UsuarioResena] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Resena] CHECK CONSTRAINT [fk_UsuarioResena]
GO
USE [master]
GO
